@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Montserrat:wght@500&family=Raleway:wght@800&family=Work+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Work Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eceff1;
  color: #4d4d4d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
